*{
    box-sizing: border-box;
}
body{
    background-color: rgb(152, 223, 247);
    font-family:fantasy;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
    padding: 20px;
}

.container{
    background-color: lightcyan;
    border-radius: 10px;
    box-shadow: 0 10px  20px rgb(226, 164, 164);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
    max-height: 100%;
    height: 400px;
}
h1{
    color: rgb(4, 95, 95);
    font-family:fantasy;
    font-weight:bolder;
    font-size:xx-large;
}

.btn{
    background-color: rgb(152, 220, 243);
    color:rgb(4, 95, 95);;
    box-shadow: 0 10px  20px rgb(226, 164, 164);
    border-radius: 10px;
    padding: 14px 40px;
    font-size: medium;
    cursor: pointer;

}
.joke{
    display: flex;
    font-size: larger;
    width:auto;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 100px;   
}
.btn:active{
    transform: scale(0.95);
}
.btn:focus{
    outline: 0;
}
